#contact_modal {
    display: none;
}

#main {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.photographer_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    height: 300px;
    padding: 0px 60px;
}

.photographer_header .text_content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.photographer_header .text_content h1 {
    color: #D3573C;
    font-size: 48px;
    font-weight: 100;
    margin: -10px 0px;
}

.photographer_header .text_content .location {
    color: #901C1C;
    font-size: 20px;
}

.photographer_header .text_content .slogan {
    font-size: 14px;
    color: #707070;
}

.photographer_header .contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.photographer_header img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.media_section {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    width: 100%;
}

.media_section img {
    display: block;
    height: 280px;
    width: 100%;
    object-fit: cover;
    margin: auto;
}

.media_section .media_element {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.media_section .media_infos {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    color: #901C1C;
    font-size: 16px;
}

.media_section .likes_section {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    right: 40px;
    width: 250px;
    padding: 15px 30px;
    font-size: 20px;
    background-color: #DB8876;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}